#navbarheadd{
  background-color: #808080;
  border-radius: 0;
  border: 2px solid black;

}


.navbar-brand{
  padding:0px 0px 75px 24px;
  vertical-align: middle;
}
.navbar-brand  h1{
  color: black;
  font-weight: bold;
  font-size: 1.7em;
}

#menubutton{

border: 2px solid black;
}

.navbar-header .icon-bar{
  border: 3px solid black;
}

.headingofpage{
  font-weight: bold;
  color: #000;
}
.contentt{
  background-color: #808080;

}
.row{
  margin:0px;

}

/* extra small xs devices */
@media (max-width: 767.98px) {
  #dropmenuitems  {
    background-color: white;
    border-top: 2.5px solid black;

  }

  #dropmenuitems ul hr{
    height: 1.8px;
    background-color: #000;
    border: none;
  }

  #dropmenuitems a{
    color:#000;
    font-size:1.2em;
    font-weight: bold;

  }


 }
